<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- 注解识别 -->
	<context:annotation-config />
	
	<!-- 自动扫描该包下注解标识类 -->
	<context:component-scan base-package="com.mobogenie" />
	<!-- PropertyPlaceholderConfigurer bean  -->
	<context:property-placeholder  location="classpath:/*application.properties,classpath:/db.properties" system-properties-mode="OVERRIDE" file-encoding="UTF-8"/>
	
	<util:properties id="application"  location="classpath:application.properties"></util:properties>
	<!-- <util:properties id="site"  location="classpath:application.properties"></util:properties> -->
	<task:annotation-driven scheduler="refreshScheduler" />
    <task:scheduler id="refreshScheduler" pool-size="3" />
    
    
</beans>